// src/styles/variables.scss

$primary-color: #4caf50;
$secondary-color: #424242;
$accent-color: #82b1ff;
$error-color: #ff5252;
$info-color: #2196f3;
$success-color: #4caf50;
$warning-color: #ffc107;

$bg-color: #111826;

// Fonte, espaçamentos, etc.
$border-radius: 8px;
$font-family: 'Roboto', sans-serif;
